{
  "syntax": "scss",
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "prettier/prettier": true,
    "declaration-colon-newline-after": "always-multi-line"
  },
  "ignoreFiles": [
    "**/*.css"
  ]
}
