.first-screen {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: $md-max) {
    height: auto;
    display: block;
    padding-top: 40px;
  }

  @media (max-width: $xs-max) {
    padding-top: 20px;
  }
}

.header-block {
  position: relative;
  flex: 1 0 auto;

  @media (max-width: $md-max) {
    flex: unset;
    padding-left: 35px;
  }

  @media (max-width: $xs-max) {
    padding-left: 0;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: $md-max) {
      display: block;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 5vh;

    @media (max-width: $xl-max) {
      margin-bottom: 2vh;
    }

    @media (max-width: $md-max) {
      margin-bottom: 0;
      padding-bottom: 165px;
    }

    @media (max-width: $xs-max) {
      padding-bottom: 72px;
    }
  }

  &__logo {
    max-width: 298px;

    @media (max-width: $xs-max) {
      max-width: 130px;
    }
  }

  &__section-title {
    @include fonts(40px, 49px, 900);
    text-align: left;
    max-width: 720px;
    margin-bottom: 30px;

    @media (max-width: $xl-max) {
      @include fonts(36px, 44px, 900);
      max-width: 650px;
      margin-bottom: 20px;
    }

    @media (max-width: $md-max) {
      @include fonts(36px, 44px, 900);
      max-width: 370px;
      margin: 68px 0 33px;
    }

    @media (max-width: $xs-max) {
      @include fonts(20px, 24px, 900);
      max-width: 210px;
      margin: 27px 0 10px;
    }
  }

  &__section-subtitle {
    @include fonts(24px, 29px);
    color: $text-color1;
    max-width: 580px;

    @media (max-width: $xl-max) {
      @include fonts(20px, 24px);
      max-width: 470px;
    }

    @media (max-width: $md-max) {
      max-width: 260px;
    }

    @media (max-width: $xs-max) {
      @include fonts(14px, 17px);
      max-width: 180px;
    }

    span {
      @media (max-width: $md-max) {
        display: block;
      }

      &:first-child {
        @media (max-width: $md-max) {
          margin-bottom: 23px;
        }

        @media (max-width: $xs-max) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &__img-wrapper {
    position: absolute;
    bottom: 0;
    right: -368px;
    max-width: 875px;

    @media (max-width: $xl-max) {
      right: -150px;
      max-width: 672px;
    }

    @media (max-width: $lg-max) {
      right: -125px;
    }

    @media (max-width: $md-max) {
      right: -458px;
      max-width: 948px;
    }

    @media (max-width: $sm-max) {
      right: -260px;
    }

    @media (max-width: $xs-max) {
      right: -335px;
      max-width: 533px;
    }

    @media (max-width: 374px) {
      max-width: 480px;
    }
  }
}

.header-form {
  background: linear-gradient(0deg, #241970, #241970), linear-gradient(270deg, #9A396E 0%, #241970 100%);
  padding: 40px 0 32px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: $xl-max) {
    padding-bottom: 15px;
  }

  @media (max-width: $md-max) {
    padding-bottom: 20px;
  }

  @media (max-width: $xs-max) {
    padding-top: 30px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    @include backgroundImage('../images/fs-form-bg.png', auto, center, center);
    width: 1920px;
    height: 270px;

    @media (max-width: $xl-max) {
      top: -75px;
      width: auto;
      background-size: cover;
    }

    @media (max-width: $md-max) {
      @include backgroundImage('../images/fs-form-bg-md.png', cover);
      top: 0;
    }

    @media (max-width: $xs-max) {
      @include backgroundImage('../images/fs-form-bg-xs.png', cover);
      height: 452px;
    }
  }

  &__title {
    @include fonts(28px, 34px, 900);
    color: $title-color2;
    text-align: center;
    max-width: 490px;
    margin: 0 auto 35px;

    @media (max-width: $xl-max) {
      @include fonts(22px, 27px, 900);
      max-width: 100%;
    }

    @media (max-width: $xs-max) {
      @include fonts(18px, 22px, 900);
      max-width: 310px;
      margin: 0 auto 30px;
    }
  }

  &__notice {
    @include fonts(12px, 15px);
    color: $title-color2;
    text-align: center;
    margin-top: 30px;

    @media (max-width: $xl-max) {
      margin-top: 10px;
    }

    @media (max-width: $md-max) {
      margin-top: 4px;
    }

    @media (max-width: $sm-max) {
      max-width: 280px;
      margin: -4px auto 0;
    }
  }

  form {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md-max) {
      flex-wrap: wrap;
    }

    @media (max-width: $sm-max) {
      display: block;
    }

    .form-group {
      flex: 0 0 270px;
      max-width: 270px;

      @media (max-width: $md-max) {
        flex: 0 0 370px;
        max-width: 370px;
        margin-bottom: 17px;
      }

      @media (max-width: $sm-max) {
        flex: unset;
        max-width: unset;
        margin-bottom: 20px;
      }
    }

    .btn {
      @media (max-width: $sm-max) {
        line-height: 60px;
        margin-top: 5px;
      }
    }
  }
}

.section-about {
  padding: 195px 0 215px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: $xl-max) {
    padding-top: 137px;
  }

  @media (max-width: $lg-max) {
    padding: 127px 0 187px;
  }

  @media (max-width: $md-max) {
    padding: 60px 0 0;
  }

  @media (max-width: $xs-max) {
    padding-top: 38px;
  }

  &__container {
    position: relative;
  }

  &__title {
    @include fonts(217px, 1, 900);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $text-color2;
    position: absolute;
    top: -205px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @media (max-width: $xl-max) {
      font-size: 154px;
      top: -140px;
    }

    @media (max-width: $lg-max) {
      font-size: 134px;
    }

    @media (max-width: $md-max) {
      display: none;
    }
  }

  &__description {
    max-width: 610px;
    padding-left: 10px;

    @media (max-width: $xl-max) {
      padding-left: 0;
      position: relative;
      left: -5px;
    }

    @media (max-width: $lg-max) {
      max-width: 670px;
      padding-left: 70px;
      left: 0;
    }

    @media (max-width: $md-max) {
      padding-left: 0;
      text-align: center;
      max-width: 610px;
      margin: 0 auto;
    }

    @media (max-width: $xs-max) {
      text-align: left;
      max-width: 350px;
    }

    p {
      &:first-child {
        @include fonts(26px, 39px, 700);
        color: $title-color1;
        margin-bottom: 30px;

        @media (max-width: $sm-max) {
          @include fonts(15px, 22px, 700);
          margin-bottom: 20px;
        }
      }

      &:last-child {
        @include fonts(22px, 33px);
        color: $text-color1;

        @media (max-width: $sm-max) {
          @include fonts(15px, 22px);
        }
      }
    }

    span {
      color: $bg-color1;
    }
  }

  &__img-wrapper {
    position: absolute;
    bottom: -215px;
    right: -360px;
    z-index: 1;

    @media (max-width: $xl-max) {
      right: -250px;
    }

    @media (max-width: $lg-max) {
      bottom: -190px;
    }

    @media (max-width: $md-max) {
      position: relative;
      margin-top: 128px;
      width: 1128px;
      bottom: -4px;
      right: unset;
      left: -124px;
    }

    @media (max-width: $sm-max) {
      width: 566px;
      left: auto;
      right: -80px;
      bottom: 0;
      margin-top: 40px;
    }

    @media (max-width: $xs-max) {
      right: 0;
    }

    @media (max-width: 500px) {
      right: 72px;
    }
  }

  .mountains-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mountains-bg1 {
    background-image: url('../images/mountains_bg1.png');
    width: 1920px;
    height: 771px;
    z-index: -2;

    @media (max-width: $xl-max) {
      bottom: 145px;
      left: -220px;
      background-size: cover;
      width: auto;
    }

    @media (max-width: $lg-max) {
      bottom: 90px;
    }

    @media (max-width: $md-max) {
      bottom: -5px;
      left: -580px;
    }

    @media (max-width: $xs-max) {
      background-image: url('../images/mountains_bg1-xs.png');
      height: 318px;
      left: -220px;
      right: 0;
      bottom: 90px;
    }
  }

  .mountains-bg2 {
    background-image: url('../images/mountains_bg2.png');
    width: 943px;
    height: 226px;
    z-index: -1;

    @media (max-width: $xl-max) {
      bottom: 43px;
      left: -387px;
    }

    @media (max-width: $lg-max) {
      left: -470px;
      height: 175px;
      bottom: 30px;
    }

    @media (max-width: $md-max) {
      left: -560px;
      bottom: 20px;
    }

    @media (max-width: $xs-max) {
      left: -318px;
      bottom: 0;
      height: 94px;
      width: 388px;
      background-size: contain;
    }
  }
}

.utp-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 128px;

  @media (max-width: $xl-max) {
    margin-bottom: 137px;
  }

  @media (max-width: $md-max) {
    padding-bottom: 63px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(83, 82, 98, .3);
  }

  @media (max-width: $sm-max) {
    padding-bottom: 37px;
    margin-bottom: 40px;
  }

  &__elem-wrapper {
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-of-type(even) {
      display: flex;

      .utp-list__elem {
        margin-left: auto;
      }
    }

    &:nth-of-type(1) {
      margin-bottom: 160px;

      @media (max-width: $md-max) {
        margin-bottom: 0;
      }

      .utp-list__elem {
        position: relative;
        left: -4px;

        @media (max-width: $xl-max) {
          left: -22px;
        }

        @media (max-width: $lg-max) {
          left: 65px;
        }

        @media (max-width: $md-max) {
          left: 53px;
        }

        @media (max-width: $sm-max) {
          left: -4px;
        }
      }
    }

    &:nth-of-type(2) {
      margin-bottom: 160px;

      @media (max-width: $md-max) {
        margin-bottom: 0;
      }

      .utp-list__elem {
        position: relative;
        right: -18px;

        @media (max-width: $xl-max) {
          right: 0;
        }

        @media (max-width: $lg-max) {
          right: 55px;
        }

        @media (max-width: $sm-max) {
          right: 13px;
        }
      }
    }

    &:nth-of-type(3) {
      .utp-list__elem {
        position: relative;
        left: -4px;

        @media (max-width: $xl-max) {
          left: -22px;
        }

        @media (max-width: $lg-max) {
          left: 65px;
        }

        @media (max-width: $md-max) {
          left: 53px;
        }

        @media (max-width: $sm-max) {
          left: -4px;
        }
      }
    }

    &:nth-of-type(4) {
      .utp-list__elem {
        position: relative;
        right: -16px;

        @media (max-width: $xl-max) {
          right: 0;
        }

        @media (max-width: $lg-max) {
          right: 55px;
        }

        @media (max-width: $sm-max) {
          right: 13px;
        }
      }
    }
  }

  &__img-elem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $lg-max) {
      margin-top: -25px;
    }

    @media (max-width: $md-max) {
      position: static;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 auto 7px;
      transform: translate(0, 0);
      text-align: center;

      * {
        max-width: 330px;
      }
    }

    @media (max-width: $sm-max) {
      margin: 20px 0;

      * {
        max-width: 255px;
      }
    }
  }

  &__elem {
    max-width: 228px;
    text-align: center;
  }

  &__count {
    @include fonts(73px, 89px, 300);
    text-transform: uppercase;
    color: $bg-color1;
    margin-bottom: 25px;

    @media (max-width: $lg-max) {
      margin-bottom: 23px;
    }

    @media (max-width: $sm-max) {
      @include fonts(40px, 49px, 300);
      margin-bottom: 12px;
    }
  }

  &__title {
    @include fonts(20px, 24px, 700);

    @media (max-width: $sm-max) {
      @include fonts(14px, 17px, 700);
      max-width: 140px;
      margin: 0 auto;
    }
  }
}

.steps-block {
  padding: 90px 0;
  background: linear-gradient(0deg, #E54E6C -57.09%, #443082 100%);
  position: relative;
  z-index: 1;

  @media (max-width: $md-max) {
    padding: 57px 0 60px;
  }

  @media (max-width: $xs-max) {
    padding: 40px 0 65px;
  }

  &:after {
    content: '';
    @include backgroundImage('steps-block-bg.png');
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 155px;
    right: 0;
    z-index: -1;
  }

  &__title {
    color: $title-color2;
    margin-bottom: 80px;

    @media (max-width: $md-max) {
      @include fonts(30px, 37px, 900);
      margin-bottom: 50px;
    }
  }
}

.steps-list {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  position: relative;
  left: -35px;

  @media (max-width: $lg-max) {
    width: 1155px;
    left: 7px;
  }

  @media (max-width: $md-max) {
    flex-wrap: wrap;
    justify-content: center;
    width: 815px;
    left: -23px;
  }

  @media (max-width: $sm-max) {
    width: auto;
    left: unset;
    margin: 0 -10px;
  }

  @media (max-width: $xs-max) {
    width: 345px;
    margin: 0 auto;
  }

  @media (max-width: 359px) {
    width: 290px;
  }

  &__elem {
    flex: 0 0 165px;
    max-width: 165px;
    text-align: center;

    @media (max-width: $md-max) {
      flex: 0 0 33%;
      max-width: 33%;
    }

    @media (max-width: $xs-max) {
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
    }

    &:nth-child(1) {
      @media (max-width: $md-max) {
        margin-bottom: 37px;

        .steps-list__title {
          width: 90px;
        }
      }

      @media (max-width: $xs-max) {
        left: -5px;
      }
    }

    &:nth-child(2) {
      @media (max-width: $md-max) {
        margin-bottom: 37px;

        .steps-list__title {
          width: 140px;
        }
      }

      @media (max-width: $xs-max) {
        right: -5px;

        .steps-list__count {
          &:after {
            display: none;
          }
        }
      }
    }

    &:nth-child(3) {
      @media (max-width: $md-max) {
        margin-bottom: 37px;

        .steps-list__count {
          &:after {
            display: none;
          }
        }

        .steps-list__title {
          width: 130px;
        }
      }

      @media (max-width: $xs-max) {
        left: -5px;

        .steps-list__count {
          &:after {
            display: block;
          }
        }
      }
    }

    &:nth-child(4) {
      @media (max-width: $md-max) {
        .steps-list__title {
          width: 115px;
        }
      }

      @media (max-width: $xs-max) {
        right: -5px;

        .steps-list__count {
          &:after {
            display: none;
          }
        }
      }
    }

    &:nth-child(5) {
      .steps-list__count {
        &:after {
          display: none;
        }
      }

      @media (max-width: $md-max) {
        .steps-list__title {
          width: 140px;
        }
      }
    }
  }

  &__count {
    width: 112px;
    height: 112px;
    border: 6px solid $bg-color2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $title-color2;
    @include fonts(46px, 56px, 900);
    margin: 0 auto 50px;
    position: relative;

    span {
      background: linear-gradient(#211870, #E64E6C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: $md-max) {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: - 7px;
      bottom: -7px;
      left: -7px;
      right: -7px;
      background-color: transparent;
      border: 1px solid $bg-color1;
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      @include backgroundImage('arrow-long.png', cover, right, center);
      width: 151px;
      height: 8px;
      margin-left: 6px;

      @media (max-width: $lg-max) {
        width: 130px;
      }

      @media (max-width: $md-max) {
        width: 150px;
      }

      @media (max-width: $sm-max) {
        width: 53px;
      }

      @media (max-width: $xs-max) {
        width: 68px;
      }

      @media (max-width: 359px) {
        width: 42px;
      }
    }
  }

  &__title {
    @include fonts(20px, 24px, 700);
    color: $title-color2;

    @media (max-width: $md-max) {
      @include fonts(15px, 18px, 700);
      margin: 0 auto;
    }
  }
}

.section-preparing {
  padding-top: 92px;
  z-index: 2;

  @media (max-width: $md-max) {
    padding-top: 70px;
  }

  @media (max-width: $sm-max) {
    padding-top: 40px;
    background: linear-gradient(3.24deg, #F1F3F6 3.13%, #ebeef3 99.55%);
  }

  &__title {
    margin-bottom: 80px;

    @media (max-width: $md-max) {
      margin-bottom: 50px;
    }

    @media (max-width: $sm-max) {
      margin-bottom: 30px;
    }
  }

  &__container {
    @media (min-width: $xl-min) {
      max-width: unset;
      padding: 0;
    }
  }
}

.preparing {
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
  position: relative;
  z-index: 1;

  @media (max-width: $lg-max) {
    flex-wrap: wrap;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (max-width: $md-max) {
    max-width: 690px;
  }

  @media (max-width: $sm-max) {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    background-color: $bg-color2;
    z-index: -1;

    @media (max-width: $lg-max) {
      top: 288px;
      bottom: 292px;
      left: -100%;
      right: -100%;
    }

    @media (max-width: $md-max) {
      top: 290px;
      bottom: 280px;
    }

    @media (max-width: $sm-max) {
      display: none;
    }
  }

  &__elem-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 5px;

    @media (max-width: $lg-max) {
      flex: 0 0 48%;
      max-width: 48%;
      padding: 0;
    }

    @media (max-width: $sm-max) {
      flex: unset;
      max-width: 345px;
      margin: 0 auto 15px;
    }

    &:nth-child(1) {
      @media (max-width: $lg-max) {
        margin-bottom: 40px;
      }

      @media (max-width: $md-max) {
        margin-bottom: 30px;
      }

      @media (max-width: $sm-max) {
        margin-bottom: 15px;
      }

      .preparing__text {
        @media (max-width: $xl-max) {
          max-width: 200px;
        }

        @media (max-width: $lg-max) {
          max-width: 300px;
        }

        @media (max-width: $md-max) {
          max-width: 200px;
        }

        @media (max-width: $sm-max) {
          max-width: 315px;
        }
      }
    }

    &:nth-child(2) {
      @media (max-width: $lg-max) {
        margin-bottom: 40px;
      }

      @media (max-width: $md-max) {
        margin-bottom: 30px;
      }

      @media (max-width: $sm-max) {
        margin-bottom: 15px;
      }

      .preparing__text {
        @media (max-width: $xl-max) {
          max-width: 266px;
        }

        @media (max-width: $lg-max) {
          max-width: 305px;
        }

        @media (max-width: $md-max) {
          max-width: 275px;
        }

        @media (max-width: $sm-max) {
          max-width: 315px;
        }
      }
    }
  }

  &__elem {
    background-color: $title-color2;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 44px 15px 42px;
    max-width: 430px;
    min-width: 330px;
    margin: 0 auto;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    transition: opacity .7s;

    @media (max-width: $xl-max) {
      padding-bottom: 23px;
    }

    @media (max-width: $lg-max) {
      min-height: 420px;
    }

    @media (max-width: $md-max) {
      opacity: 1;
    }

    @media (max-width: $sm-max) {
      min-height: 366px;
      min-width: unset;
      padding: 50px 10px 30px;
    }

    &.animated {
      opacity: 1;
    }
  }

  &__img-wrapper {
    margin-bottom: 50px;

    @media (max-width: $sm-max) {
      margin-bottom: 35px;
    }
  }

  &__title {
    @include fonts(26px, 34px, 700);
    color: $bg-color1;
    max-width: 300px;
    margin: 0 auto 20px;
    min-height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $sm-max) {
      @include fonts(20px, 26px, 700);
      min-height: unset;
      display: block;
      max-width: 250px;
    }
  }

  &__text {
    @include fonts(14px, 18px);
    max-width: 340px;
    margin: 0 auto;

    @media (max-width: $xl-max) {
      max-width: 280px;
    }

    @media (max-width: $lg-max) {
      max-width: 340px;
    }

    @media (max-width: $md-max) {
      max-width: 280px;
    }

    @media (max-width: $sm-max) {
      max-width: 325px;
    }
  }
}

.reviews-section {
  margin-top: -60px;
  padding: 148px 0 220px;
  background: linear-gradient(0.25deg, #F1F3F6 3.13%, #E5EDF7 99.55%);
  position: relative;
  z-index: 1;

  @media (max-width: $xl-max) {
    padding-top: 133px;
  }

  @media (max-width: $lg-max) {
    margin-top: -292px;
    padding-top: 380px;
  }

  @media (max-width: $md-max) {
    padding: 352px 0 290px;
  }

  @media (max-width: $sm-max) {
    margin-top: 0;
    padding: 25px 0 105px;
    background: linear-gradient(#f3f3f3 3.13%, #ebeef3 99.55%);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include backgroundImage('clouds.png');
    width: 1920px;
    height: 355px;
    z-index: -1;

    @media (max-width: $xl-max) {
      width: auto;
    }

    @media (max-width: $md-max) {
      left: -70px;
    }

    @media (max-width: $xs-max) {
      @include backgroundImage('clouds-xs.png', cover, center, top);
      height: 187px;
      left: 0;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__decor-elem {
    position: absolute;
    z-index: -1;

    &.flying-saucer {
      @include backgroundImage('flying-saucer-img.png');
      width: 344px;
      height: 315px;
      bottom: -327px;
      right: -260px;

      @media (max-width: $xl-max) {
        right: -65px;
      }

      @media (max-width: $md-max) {
        width: 313px;
        height: 286px;
        background-size: contain;
        bottom: -300px;
        right: -53px;
      }

      @media (max-width: $sm-max) {
        display: none;
      }
    }

    &.sun-img {
      @include backgroundImage('sun.png');
      width: 183px;
      height: 170px;
      bottom: -390px;
      left: 390px;

      @media (max-width: $xl-max) {
        left: 410px;
      }

      @media (max-width: $lg-max) {
        left: 390px;
        bottom: -393px;
      }

      @media (max-width: $md-max) {
        display: none;
      }
    }

    &.racket-img {
      @include backgroundImage('rocket.png');
      width: 191px;
      height: 743px;
      bottom: -900px;
      left: 3px;

      @media (max-width: $xl-max) {
        left: 23px;
      }

      @media (max-width: $lg-max) {
        left: 5px;
      }

      @media (max-width: $md-max) {
        display: none;
      }
    }
  }
}

.reviews-slider {
  max-width: 1030px;
  margin: 65px auto 0;
  padding-bottom: 102px;

  @media (max-width: $xl-max) {
    margin-top: 62px;
  }

  @media (max-width: $md-max) {
    margin-top: 50px;
    max-width: 690px;
  }

  @media (max-width: $sm-max) {
    margin-top: 30px;
  }

  &__img-wrapper {
    position: relative;
    margin-bottom: 40px;

    @media (max-width: $sm-max) {
      margin: 0 auto 30px;
      text-align: center;
    }

    @media (max-width: $xs-max) {
      max-width: 277px;
      margin-bottom: 0;
    }

    @media (max-width: 359px) {
      max-width: 250px;
    }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparentize($bg-color1, 0.3);
    transition: transform .3s ease, background-color .3s ease;

    @media (max-width: $xs-max) {
      width: 80px;
      height: 80px;
    }

    &:hover {
      @media (min-width: $lg-min) {
        background-color: transparentize($bg-color1, 0);
      }
    }

    &:after {
      content: '';
      position: absolute;
      @include backgroundImage('triangle.png');
      width: 29px;
      height: 38px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: $xs-max) {
        width: 23px;
        height: 29px;
        background-size: contain;
      }
    }
  }

  &__students-name {
    @include fonts(20px, 24px, 700);
    text-transform: uppercase;
    text-align: center;

    @media (max-width: $xs-max) {
      display: none;
    }
  }

  .track-wrapper {
    position: relative;
  }
}

.description-section {
  padding-top: 165px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $xl-max) {
    padding-top: 82px;
  }

  @media (max-width: $lg-max) {
    padding-top: 167px;
  }

  @media (max-width: $md-max) {
    display: block;
    text-align: center;
    padding-top: 40px;
  }

  @media (max-width: $xs-max) {
    padding-top: 5px;
  }

  &__img-wrapper {
    padding-left: 18px;
    order: 1;
    position: relative;
    z-index: 1;

    @media (max-width: $xl-max) {
      padding-left: 37px;
      top: 83px;
    }

    @media (max-width: $lg-max) {
      padding-left: 18px;
      top: 0;
    }

    @media (max-width: $md-max) {
      padding-left: 0;
      top: 10px;
      margin-top: 145px;
    }

    @media (max-width: $xs-max) {
      top: 0;
      margin-top: 100px;
    }

    &:after {
      content: '';
      position: absolute;
      left: -9px;
      bottom: -27px;
      @include backgroundImage('stars.png');
      width: 191px;
      height: 203px;
      z-index: -1;

      @media (max-width: $xl-max) {
        left: 10px;
      }

      @media (max-width: $lg-max) {
        left: -10px;
      }

      @media (max-width: $md-max) {
        left: 130px;
      }

      @media (max-width: $xs-max) {
        width: 119px;
        height: 127px;
        bottom: -13px;
        left: 10px;
        background-size: cover;
      }
    }
  }

  &__decor-img {
    position: absolute;
    z-index: -1;

    @media (min-width: $lg-min) {
      display: none;
    }

    &.sun-img {
      @include backgroundImage('sun.png');
      width: 183px;
      height: 170px;
      top: -165px;
      right: 70px;

      @media (max-width: $sm-max) {
        @include backgroundImage('sun-xs.png');
        width: 103px;
        height: 96px;
        top: -85px;
        right: -15px;
      }
    }

    &.racket-img {
      @include backgroundImage('rocket.png');
      width: 134px;
      height: 450px;
      bottom: 265px;
      left: 160px;

      @media (max-width: $sm-max) {
        @include backgroundImage('rocket-xs.png');
        width: 86px;
        height: 291px;
        bottom: 135px;
        left: 15px;
      }
    }
  }

  &__content {
    flex: 0 0 500px;
    max-width: 500px;
    margin-right: 70px;
    order: 2;

    @media (max-width: $xl-max) {
      margin: 83px 52px 0 0;
    }

    @media (max-width: $lg-max) {
      margin: 0 70px 0 0;
    }

    @media (max-width: $md-max) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__title {
    text-align: left;
    margin: 23px 0 40px;

    @media (max-width: $md-max) {
      @include fonts(46px, 56px, 900);
      text-align: center;
      margin: 0 0 40px;
    }

    @media (max-width: $xs-max) {
      @include fonts(30px, 37px, 900);
      max-width: 340px;
      margin: 0 auto 30px;
    }
  }

  &__text {
    @include fonts(24px, 31px);

    @media (max-width: $xs-max) {
      @include fonts(16px, 21px);
    }

    p {
      &:first-child {
        font-weight: 700;
        margin-bottom: 20px;

        @media (max-width: $xs-max) {
          @include fonts(18px, 23px, 700);
          margin-bottom: 15px;
        }
      }
    }
  }
}

.get-started {
  padding-bottom: 60px;
  background: linear-gradient(270deg, #9A396E 0%, #241970 100%);
  position: relative;
  z-index: 2;

  @media (max-width: $xs-max) {
    padding-bottom: 55px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 48px;
    bottom: 0;
    left: -600px;
    right: 0;
    @include backgroundImage('footer-top-bg.png');
    z-index: -1;

    @media (max-width: $md-max) {
      left: -620px;
    }

    @media (max-width: $sm-max) {
      display: none;
    }
  }

  &__top-block {
    @include fonts(24px, 29px, 700);
    color: $title-color2;
    padding: 12px 0 7px 280px;
    position: relative;
    z-index: 1;

    @media (max-width: $xl-max) {
      padding-top: 15px;
    }

    @media (max-width: $md-max) {
      padding: 12px 0 9px 137px;
    }

    @media (max-width: $xs-max) {
      @include fonts(20px, 24px, 700);
      padding: 20px 0;
      text-align: center;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      width: 300%;
      background-color: $bg-color1;
      z-index: -1;
    }
  }

  &__container {
    position: relative;
  }

  &__title {
    @include fonts(36px, 44px, 900);
    color: $title-color2;
    text-align: left;
    margin-top: 40px;

    @media (max-width: $lg-max) {
      margin-left: 70px;
    }

    @media (max-width: $md-max) {
      margin: 38px 0 0 35px;
    }

    @media (max-width: $sm-max) {
      @include fonts(22px, 27px, 900);
      margin: 44px 0 0 13px;
      max-width: 120px;
    }

    @media (max-width: $xs-max) {
      max-width: 110px;
    }

    span {
      border: 1px solid $bg-color1;
      display: inline-block;
      padding: 0 17px;
      margin-left: 4px;
      border-radius: 4px;

      @media (max-width: $md-max) {
        padding: 3px 19px;
        margin-left: -2px;
      }

      @media (max-width: $sm-max) {
        padding: 0 11px;
        margin-left: 0;
      }
    }
  }

  &__subtitle {
    @include fonts(36px, 44px);
    color: $title-color2;
    margin-bottom: 20px;

    @media (max-width: $lg-max) {
      margin-left: 70px;
    }

    @media (max-width: $md-max) {
      @include fonts(30px, 37px);
      margin: 0 0 30px 34px;
    }

    @media (max-width: $sm-max) {
      @include fonts(22px, 27px);
      max-width: 180px;
      margin: 0 0 45px 10px;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: -20px;
    right: -230px;
    opacity: 0;
    z-index: 1;
    transition: opacity 2s, right 2s;

    @media (max-width: $md-max) {
      max-width: 444px;
      right: -430px;
    }

    @media (max-width: $sm-max) {
      top: 35px;
      max-width: 385px;
    }

    @media (max-width: $xs-max) {
      top: 63px;
    }

    @media (max-width: 359px) {
      max-width: 320px;
    }

    &.animated {
      opacity: 1;

      @media (min-width: $lg-min) {
        @include bounceElem(right, -230px, -18px, 2s);
        right: -18px;
      }

      @media (max-width: $md-max) {
        @include bounceElem(right, -430px, -185px, 2s);
        right: -185px;
      }

      @media (max-width: $xs-max) {
        @include bounceElem(right, -430px, -185px, 2s);
        right: -205px;
      }
    }
  }

  &__btn {
    max-width: 320px;
    line-height: 60px;

    @media (max-width: $lg-max) {
      margin-left: 70px;
    }

    @media (max-width: $md-max) {
      margin-left: 34px;
    }

    @media (max-width: $sm-max) {
      margin-left: 13px;
    }

    @media (max-width: $xs-max) {
      margin: 0;
    }
  }
}

.page-footer {
  padding: 50px 0 36px;
  text-align: center;

  @media (max-width: $xl-max) {
    padding-bottom: 63px;
  }

  @media (max-width: $md-max) {
    padding-top: 32px;
  }

  @media (max-width: $xs-max) {
    padding: 40px 0 50px;
  }

  &__logo {
    max-width: 370px;
    margin: 0 auto 32px;

    @media (max-width: $xs-max) {
      max-width: 266px;
      margin-bottom: 30px;
    }
  }

  &__policy-link {
    @include fonts(14px, 18px);
    color: #BABABA;
    display: inline-block;
    position: relative;
    @include hoverAfterBottomLine(false, 2px, #BABABA);
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.form-popup {
  &__form-wrapper {
    max-width: 490px;
    width: 100%;
    text-align: center;
    background-color: $bg-color2;
    padding: 48px 30px 40px;
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include backgroundImage('popup-bg.png');
      z-index: -1;
    }
  }

  &__title {
    @include fonts(22px, 27px, 700);
    color: $title-color2;
    max-width: 350px;
    margin: 0 auto 40px;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 15px;
    @include backgroundImage('close-icon.png');
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform .5s;

    &:hover {
      @media (min-width: $lg-min) {
        transform: rotate(360deg);
      }
    }
  }

  &__notice {
    @include fonts(12px, 15px);
    color: $title-color2;
    opacity: .5;
    max-width: 280px;
    margin: 37px auto 0;
  }

  .form-group {
    margin-bottom: 20px;

    &:last-child {
      margin: 25px 0 0;
    }
  }

  form {
    max-width: 270px;
    margin: 0 auto;
  }
}
