@import 'reset';

@mixin red {
  font-size: 14px;
}

html,
body,
.main-wrapper {
  height: 100%;
}

body {
  background: #e3405f;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.content-wrapeer {
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 100%;
}

.logo {
  opacity: 1;
  position: relative;
  top: 50%;
  transition: all 2s;
}

.money {
  animation: money-down 6s linear forwards;
  background: url('../images/money2.png');
  height: 159px;
  position: absolute;
  width: 290px;
}

.main-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* or 90px */
  opacity: 1;
  text-align: center;
  transition: 1s;
}

.subtitle {
  opacity: 1;
  transition: 1s;
}

.subtitle,
.tips {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* identical to box height, or 52px */
  text-align: center;
}

.interactive-block {
  width: 50%;
}

.student {
  background: url('../images/handicon.png') no-repeat 73% 128%,
    url('../images/student1.png') no-repeat center;
  height: 650px;
  position: relative;
  width: 627px;

  &.happy {
    background: url('../images/student4.png') no-repeat;
  }
}

.student-hand {
  height: 121px;
  left: 139px;
  position: absolute;
  top: 388px;
  width: 228px;
}

.money-in-hand1 {
  left: -50px;
  position: absolute;
  top: -40px;
  user-select: none;
}

.money-in-hand2 {
  left: -50px;
  position: absolute;
  top: -84px;
  user-select: none;
}

.money-in-hand3 {
  left: -50px;
  position: absolute;
  top: -125px;
  user-select: none;
}

.progress {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  display: block;
  height: 8px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  position: relative;
  width: 35%;
}

.progress .determinate {
  background-color: #fff;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s linear;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visibile {
  opacity: 0;
}

.positive-btn {
  background-color: #ffed4a;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #000;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 150%;
  margin: auto auto 20px;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 395px;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
}

.negative-btn {
  background-color: transparent;
  border: 1px solid;
  border-radius: 100px;
  color: #fff;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 150%;
  margin: auto;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 395px;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.logo-to-top {
  animation: logo-to-top 2s linear forwards;
}

@keyframes money-down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(4000px);
  }
}

@keyframes logo-to-top {
  0% {
    top: 50%;
  }

  100% {
    top: 0;
  }
}
